@model HomeViewModel
@{
ViewData["Title"] = "Home";
Layout = "_Layout";
}
<div class="container">
   <div class="row">
      <div class="col">
         <div>
            @Model.Exercises.Count() available exercises!
         </div>
         Muscle Groups:
         <ul>
            @foreach (var mg in Model.Exercises.Select(x=> x.MuscleGroup).Distinct().ToList())
            {
            <li>
               <input type="checkbox"> @mg
            </li>
            }
         </ul>
         Extra equipment available:
         <ul>
         <li>
          <input type="checkbox"> Without equipment only
         </li>
          <li>
          <input type="checkbox"> Dumbbells
         </li>
          <li>
          <input type="checkbox"> Pull up bar
         </li>
         </ul>
         <button>Generate</button>           
      </div>
      <div class="col">
         The plan is:
         @foreach (var planEntry in Model.Plan)
         {
         <ul>
            @if(@planEntry.Exercise.Method == "repetitions")
            {
            <li><a href="@planEntry.Exercise.Reference">@planEntry.Exercise.ExerciseName</a> (@planEntry.Series Series of @planEntry.Quantity Repetitions)</li>
            }else
            {
            <li><a href="@planEntry.Exercise.Reference">@planEntry.Exercise.ExerciseName</a> (@planEntry.Series Series of @planEntry.Quantity Seconds)</li>
            }
         </ul>
         }     
      </div>
      <div class="col">
         Check which is done:
         @foreach (var planEntry in Model.Plan)
         {
         <ul>
            <li>
               <input type="checkbox"> @planEntry.Exercise.ExerciseName
            </li>
         </ul>
         }  
      </div>
   </div>
</div>