@model HomeViewModel
@{
ViewData["Title"] = "Home";
Layout = "_Layout";
}
<div class="container">
   <div class="row">
      <div class="col">
         @Model.Exercises.Count() available exercises!
         <button>Generate</button>           
      </div>
      <div class="col">
         The plan is:
         @foreach (var planEntry in Model.Plan)
         {
         <ul>
            <li><a href="@planEntry.Exercise.Reference">@planEntry.Exercise.ExerciseName</a> (@planEntry.Series Series of @planEntry.Repetitions Repetitions)</li>
         </ul>
         }     
      </div>
      <div class="col">
        Check which is done:
         @foreach (var planEntry in Model.Plan)
         {
         <ul>
            <li>
            <input type="checkbox"> @planEntry.Exercise.ExerciseName
            </li>
         </ul>
         }  
      </div>
   </div>
</div>